@font-face {
  font-family: Light;
  src: url('./font/CerebriSansPro-Light.ttf');
}

@font-face {
  font-family: Bold;
  src: url('./font/CerebriSansPro-SemiBold.ttf');
}

h2 {
  font-family: Bold;
}

h4 {
  font-family: Bold;
}

p{
    font-family: Light !important;
}